.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.navbar img {
    width: 250px; 
    height: auto; 
    max-height: 100px; 
}
.nav-menu img {
    display: flex;
    margin: auto;
    width: 50px; /* Adjust the size of the underline image */
    height: auto; /* Maintain the aspect ratio */
    margin-top: 5px; /* Optional: add some spacing from the text */
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer ;
}
.anchor-link{
    text-decoration: none;
    color: white;
}

.nav-mob-open,
.nav-mob-close {
  display: none; /* Both hidden by default */
}
@media(max-width:520px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 40px !important;
        width: 40px !important;  /* Reduce the width of the icon */
    height: 20px;
        
    }
    .nav-mob-close{
        display: block;
        position: absolute;
        top:20px;
        right: 20px;
        left: 290px;
        width: 30px;
        z-index: 3;  
        cursor: pointer;   
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 50px;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}